@{
    ViewData["Title"] = "Sign up";
}

<div class="text-left">
    <h1 class="display-4">Sign up result</h1>
    <label>@ViewData["FirstName"]</label> <br />
    <label>@ViewData["LastName"]</label> <br />
    <label>@ViewData["BirthDay"]</label> <br />
    <label>@ViewData["Email"]</label> <br />
    <label>@ViewData["Password"]</label> <br />
</div>